<textarea class="template" id="man_item_header">
	<div id="manage_table" style="position:relative;">
	<table style="width:95%;margin:0 10px;clear:both">
	<tr>
		<th colspan="2" class="[[sortmode_title]]" rel="sort:title">タイトル</th>
		<th nowrap class="[[sortmode_unread_count]]" rel="sort:unread_count">未読</th>
		<th nowrap class="[[sortmode_folder]]" rel="sort:folder">フォルダ</th>
		<th nowrap class="[[sortmode_rate]]" rel="sort:rate">レート</th>
		<th nowrap class="[[sortmode_modified_on]]" rel="sort:modified_on">更新時刻</th>
	</tr>
</textarea>
<textarea class="template" id="man_items">
	<tr class="[[classname]]" subscribe_id="[[subscribe_id]]" onmouseover="TRSelector.mouseover.call(this,event)" onmouseout="TRSelector.mouseout.call(this,event)" onmousedown="TRSelector.mousedown.call(this,event)">
		<td nowrap><img src="[[icon]]" width="16" height="16">
		<!--<img src="/img/icon/view.gif" width="21" height="16" class="button" onclick="preview([[subscribe_id]])">-->
		</td>
		<td><div style="width:300px;overflow:hidden">[[title]]</div></td>
		<td>[[unread_count]]</td>
		<td>[[folder]]</td>
		<td>
			<span style="position:relative">
				<img class="rate_pad" src="/img/rate/pad/[[ rate ]].gif" sid="[[subscribe_id]]" onclick="Rate.click.call(this,event)" onmouseout="Rate.out.call(this,event)" onmousedown="Event.stop(event)" onmousemove="Rate.hover.call(this,event)">
			</span>
		</td>
		<td>[[ update ]]</td>
	</tr>
</textarea>

<textarea class="template" id="man_folder">
	<li class="button [[selected]]" onclick="MF.select([[id]])">[[folder]]</li>
</textarea>

<textarea class="template" id="man_offset">
	[[ selecter_name ]]<small style="font-weight:normal">&nbsp;&nbsp;|&nbsp;&nbsp;[[size]]件中 [[ start ]] - [[ end ]]件目</small>
</textarea>


<textarea class="template" id="manage_form">
<form action="/api/folder/update" method="post" id="rename_form">
	<input type="text" name="name" value="[[folder_name]]" style="width:20em">
	<input type="hidden" name="folder_id" value="[[folder_id]]">
	<input type="submit" value="名前の変更">
</form>
<form action="/api/folder/delete" method="post" id="delete_form">
	<input type="hidden" name="folder_id" value="[[folder_id]]">
	<input type="submit" value="削除">
</form>
</textarea>

<h2 class="manage_h" style="margin-top:10px">フォルダ、アイテムの編集</h2>

<!-- manage_folder -->
<div id="manage_foldertools" style="clear:both; margin:5px 10px;padding:5px 5px 5px 30px; background:url('/img/icon/close.gif') no-repeat 7px 5px;">
	<u class="button" onclick="MF.create_folder(updater('manage_folder'))">新規フォルダ作成</u>
	<div id="update_folder" style="display:inline"></div>
</div>
<div style="margin:10px;padding:0px;position:relative;background:#f5f5f5;">
	<ul id="manage_folder" style="margin:0px"></ul>
	<br clear="all">
</div>

<br clear="all">

<h2 class="manage_h" style="margin-top:10px"><span id="manage_offset"></span></h2>
<div style="font-size:12px;margin:10px 10px;">
<span id="manage_select"></span>
&nbsp;&nbsp;<span id="manage_help"></span>
</div>

<!-- manage_item -->
<div id="manage_control" class="grayout" style="clear:both;margin:5px 10px; background:url('/img/icon/default.gif') no-repeat 7px 9px; padding:5px 5px 0px 30px; vertical-align:bottom;">
<table>
<tr>
	<td valign="middle" nowrap>
	<select id="move_to">
	[[ folders ]]
	</select>
	<button onclick="Manage.Item.do_move()" title="指定されたフォルダに移動します。"
	 onmouseover="Manage.show_help.call(this,event)"
	 onmouseout="Manage.hide_help()"
	>移動</button>
	</td>
	<td valign="middle">
	&nbsp;|&nbsp;
	<u class="button" title="選択されているフィードを既読にします。"
	 style="background:url('/img/icon/check.gif') no-repeat 0 2px;padding-left:20px"
	 onclick="this.disabled || MI.touch()"
	 onmouseover="Manage.show_help.call(this,event)"
	 onmouseout="Manage.hide_help()"
	>既読にする</u>
	&nbsp;&nbsp;|&nbsp;&nbsp;
	<u class="button" style="background:url('/img/icon/trash.gif') no-repeat 0 2px;padding-left:22px" title="選択されたフィードの購読を停止します。" onclick="this.disabled || MI.unsubscribe()"
	 onmouseover="Manage.show_help.call(this,event)"
	 onmouseout="Manage.hide_help()"
	>購読停止</u>
	</td>
</tr>
</table>
</div>
<table width="95%" id="manage_item_tool">
<tr>
	<td width="200" height="32" nowrap>
		 検索 :&nbsp;<input type="text" onkeyup="MI.search.call(this,event)" style="width:150px">
	</td>
	<td >選択 :&nbsp;
		<span class="button" onclick="MI.select_all()" title="すべてのアイテムを選択します">全て選択</span>&nbsp;&nbsp;|&nbsp;&nbsp;
		<span class="button" onclick="MI.page_select()" title="表示されているページを選択もしくは解除します">ページを選択</span>&nbsp;&nbsp;|&nbsp;&nbsp;
		<span class="button" onclick="MI.reverse_select()" title="全てのアイテムの選択を反転します">全て反転</span>&nbsp;&nbsp;|&nbsp;&nbsp;
		<span class="button" onclick="MI.clear_select()" title="全ての選択を解除します">全て解除</span>
	</td>
	<td width="50" nowrap align="right">
		<select onchange="MI.perpage=(this.options[this.selectedIndex].value-0) || 20;update('manage_item')" style="font-size:1em">
			<option>表示</option>
			<option value="10">10</option>
			<option value="20">20</option>
			<option value="50">50</option>
		</select>
	</td>
	<td width="50" nowrap align="right">
		<div id="mi_paging">
			<span onclick="MI.prev()" id="mi_prev" class="paging">&lt;</span>
			<span onclick="MI.next()" id="mi_next" class="paging">&gt;</span>
		</div>
	</td>
</tr>
</table>
<div id="manage_item" style="padding:0">
	<div class="wait" style="margin:0 10px">Loading ..</div>
</div>
