<!--[if IE 7]>
<style>
#result{
	width: 100% !important;
}
</style>
<![endif]-->

<div id="content">
<div class="share">
<h2>フィードの共有設定</h2>
<div class="share_body">
	<div class="status">
		<% if current_member.public %>
			<button onclick="set_member_public(0);return false">共有機能を無効にする</button>
		<% else %>
			<button onclick="set_member_public(1);return false">共有機能を有効にする</button>
		<% end %>
		<ul>
			<li>マイフィードの共有: <span id="member_public"><%= current_member.public ? "有効" : "無効" %></span>
			<% if current_member.public %>(<%= link_to("表示", user_path(current_member.username)) %>)<% end %>
			</li>
			<li>公開設定のフィード: <span id="public_subs_count"></span></li>
		 	<li>非公開のフィード: <span id="private_subs_count"></span></li>
		</ul>
	</div>
	<div class="search_form">
		<form onsubmit="do_search();return false;">
		<table>
			<tr><td>検索対象</td>
			<td>
				<input type="radio" name="search_from" id="filter_from_all" checked>
				<label for="filter_from_all">全てのフィードから</label>
				<input type="radio" name="search_from" id="filter_from_public">
				<label for="filter_from_public">公開設定のフィードか</label>
				<input type="radio" name="search_from" id="filter_from_private">
				<label for="filter_from_private">非公開のフィードから</label>
			</td></tr>
			<tr><td>購読者数</td>
			<td>
				<input type="text" value="" id="filter_subscriber_min" size="4"> 人以上
				<input type="text" value="" id="filter_subscriber_max" size="4"> 人以下
				(例: 	
					<span onclick="set_query({subscriber_max:'',subscriber_min:100});" class="query_sample">100人以上</span>
					<span onclick="set_query({subscriber_max:10,subscriber_min:''});" class="query_sample">10人以下</span>)
			</td></tr>
			<tr><td>タイトルまたはURL</td>
			<td><input type="text" value="" id="filter_string">
			</td></tr>
		</table>
		<div class="mspace">
		<table>
			<tr>
				<th>フォルダ (<span class="query_sample" onclick="mspace_reset('folder')">全て選択</span>)</th>
				<th>レート (<span class="query_sample" onclick="mspace_reset('rate')">全て選択</span>)</th>
			</tr>
			<tr>
				<td><div id="mspace_folders"></div></td>
				<td><div id="mspace_rate"></div></td>
			</tr>
		</table>
		</div>
		</form>
	</div>
	<h3>条件に一致するフィード: <span id="filtered_subs_count"></span> <button class="select_all" onclick="select_all()">全て選択</button></h3>
	<div class="buttons">
    選択されたフィードを → 
		<button onclick="set_public(1)">公開する</button><button onclick="set_public(0)">非公開にする</button>
		<span id="set_public_progress"></span>
	</div>
	<div id="filtered_subs"></div>
	<span id="show_all" onclick="show_all()">Display all</span>
</div>
</div>
</div>

<script type="text/javascript">var ApiKey = "<%= session[:session_id] %>";</script>
<%= javascript_include_tag "share" %>

