<div id="content">
	<h2>アカウント</h2>
	<%= render "navi" %>
	<div class="account_form">
	<h4>Share your subscription</h4>
	<p>You can publish your subscription list.<br />
	<strong><%= link_to "フィードの共有設定", share_path %></strong>
	</p>
	</div>
	<div class="clear"></div>
</div>
